################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs/Extendable/v15
/src/Extendable/obj
/src/Extendable/bin/Debug/netcoreapp2.0
/src/Extendable.Tests/bin/Debug/netcoreapp2.0
/src/Extendable.Tests/obj
